@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans-fallback: "Livvic", Arial, Helvetica, sans-serif;
}

@theme {
  --color-neutral-950: #000000;
  --color-neutral-50: #fafafa;
  --color-neutral-0: #ffffff;
  --color-teal-950: #002529;
  --color-teal-900: #012f34;
  --color-teal-850: #004047;
  --color-teal-800: #014e56;
  --color-teal-700: #2c6269;
  --color-teal-400: #79c8c7;
  --color-rose-500: #ff7f7f;
  --color-cyan-100: #c4fffe;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-livvic, var(--font-sans-fallback));
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-livvic, var(--font-sans-fallback));
}

@utility text-preset-1 {
  line-height: 100%;
  font-weight: 700;
  letter-spacing: 0;
  font-size: clamp(48px, 1.75rem + 5.625vw, 100px);
}

@utility text-preset-2 {
  font-size: clamp(40px, 1.75rem + 2.75vw, 64px);
  line-height: 115%;
  font-weight: 700;
  letter-spacing: 0;
}

@utility text-preset-3 {
  font-size: clamp(32px, 1.5rem + 1.875vw, 48px);
  line-height: 100%;
  font-weight: 700;
  letter-spacing: 0;
}

@utility text-preset-4 {
  font-size: clamp(28px, 1.25rem + 1.5625vw, 40px);
  line-height: 100%;
  font-weight: 700;
  letter-spacing: 0;
}

@utility text-preset-5 {
  font-size: clamp(24px, 1.125rem + 1.09375vw, 32px);
  line-height: 100%;
  font-weight: 700;
  letter-spacing: 0;
}

@utility text-preset-6-bold {
  font-size: 18px;
  line-height: 155%;
  font-weight: 700;
  letter-spacing: 0;
}

@utility text-preset-6-semibold {
  font-size: 18px;
  line-height: 155%;
  font-weight: 600;
  letter-spacing: 0;
}

@utility text-preset-7 {
  font-size: 15px;
  line-height: 186%;
  font-weight: 600;
  letter-spacing: 0;
}

@utility text-preset-7-semibold {
  font-size: 15px;
  line-height: 186%;
  font-weight: 600;
  letter-spacing: 0;
}

@utility text-preset-7-medium-italic {
  font-size: 15px;
  line-height: 166%;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 0;
}

@utility text-preset-8 {
  font-size: 13px;
  line-height: 140%;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 0;
}
